@import "../../../assets/styles/variables";

.productReviews {
  background: lighten($smoke, 1%);
  padding: 42px 79px;
  h4 {
    color: $darkGray;
    margin: 0 0 30px;
  }
  .reviewDetails {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: $gap;
    margin-bottom: 25px;
  }
  .reviewDescription {
    font-weight: 300;
    font-family: $thirdFont;
  }
  .reviewTime {
    color: $gray;
    font-weight: 300;
    font-size: 12px;
    font-family: $thirdFont;
  }
  .reviewNick {
    font-family: $fifthFont;
    font-weight: normal;
    margin-top: 24px;
  }
  .reviewIcons {
    display: flex;
    margin-top: 25px;
    font-weight: 300;
    font-family: $thirdFont;
    .reviewIcon {
      display: flex;
      align-items: center;
    }
    .reviewIconImage,
    .reviewCommentImage {
      background: $darkSmoke url("../../../assets/img/heart.png") no-repeat
        center 54%/19px auto;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      margin-right: 8px;
    }
    .reviewCommentImage {
      background-image: url("../../../assets/img/comment.png");
    }
    .reviewIcon {
      margin-right: 40px;
    }
  }
}
