@import "../../assets/styles/variables";

.sizes {
  display: flex;
  flex-wrap: wrap;
  .size {
    color: $gray;
    font: 14px/1.9 $fourthFont;
    margin-right: 7px;
    margin-bottom: 7px;
    width: 55px;
    background: $darkSmoke;
    height: 24px;
    text-align: center;
    cursor: pointer;
    &:hover {
      background: $red;
      color: $white;
    }
  }
}
