@import "../../../assets/styles/variables";

.productDetails {
  display: flex;
  padding: 30px 50px;
  h1 {
    font-size: 24px;
    font-family: $mainFont;
    letter-spacing: 1px;
  }
  .productImages {
    flex-basis: 40%;
  }
  .productFeatures {
    flex-basis: 60%;
    h6 {
      margin: 25px 0 10px;
    }
  }
  .price {
    color: $red;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 15px;
  }
}
