.redTheme {
  background-color: $red;
  .LoginBar {
    background: $white;

    a:hover,
    a:active,
    a.active {
      color: $darkGray;
    }
  }
  .LoginMenu a {
    color: $darkGray;
    &:hover,
    &:active,
    .active {
      color: $red;
    }
  }
}
