.productImages {
  flex-basis: 40%;
  margin-right: 50px;
  .secodaryImages {
    text-align: center;
    img {
      cursor: pointer;
      width: 72px;
      height: auto;
      margin: 40px 5px 10px;
    }
  }
}
