@import "../../assets/styles/variables";

.footer {
  background: $white;
  padding: 52px 19px 56px;

  .copyRight {
    font-weight: 300;
    font-family: $thirdFont;
  }
  > div {
    display: flex;
  }
}
