@import "../../../styles/brakpoints";
@import "../../../styles/variables";

.search {
  position: relative;
  margin-left: 0;
  width: 100%;

  @include sm {
    margin-left: 8px;
    width: auto;
  }
}

.searchIcon {
  width: 50px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputRoot {
  color: inherit;
  width: 100%;
  border-radius: 18px;
  background-color: rgba($white, 0.5);
  &:hover {
    background-color: rgba($white, 0.75);
  }
}

.inputInput {
  padding: 8px 8px 8px 50px;
  font-size: 14px;
  width: 100%;
  line-height: 1.45;
  font-weight: bold;
  @extend %transition;

  &::placeholder,
  &::-webkit-input-placeholder,
  &:placeholder-shown {
    color: $white;
    opacity: 1;
  }

  &:-ms-input-placeholder,
  &::-ms-input-placeholder {
    color: $white;
    opacity: 1;
  }

  &:hover,
  &:focus {
    color: $red;

    &::placeholder,
    &::-webkit-input-placeholder,
    &:placeholder-shown {
      color: $red;
      opacity: 0.85;
    }

    &:-ms-input-placeholder,
    &::-ms-input-placeholder {
      color: $red;
      opacity: 0.85;
    }
  }

  @include sm {
    width: 120px;

    &:focus {
      width: 200px;
    }
  }
}
