@import "./styles/variables";
@import "./styles/themes";
@import "./styles/brakpoints";

body {
  background-color: $smoke;
  color: $darkGray;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 113px 0 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  @include sm {
    padding-left: 24px;
    padding-right: 24px;
  }
}

a {
  text-decoration: none;
  transition: 0.1s all ease-in;
}

p {
  font-family: "Open Sans";
}

.button {
  background-color: $red;
  color: $white;
  border-radius: 24px;
  padding: 10px 42px;
  text-transform: none;
  font-size: 16px;
  font-weight: bold;

  &.button-small {
    padding: 5px 26px;
  }
  &.button-large {
    border-radius: 100px;
    padding: 15px 65px;
  }

  &:hover,
  &:active,
  &.active {
    background: darken($red, 10%);
  }
}
